<h3>Antonio Acevedo</h3>
<figure>
	<img id="autor" src="images/foto.jpg" alt="Autor">
</figure> 
<div>	
	<p>Github: <a href="https://github.com/xXcoronaXx" title="Github"><i class="fa fa-github fa-2x"></i></a></p>
	<p>Twitter: <a href="https://twitter.com/xXcoronaXx" title="Twitter"><i class="fa fa-twitter-square fa-2x"></i></a></p>
	<p>Linkedin: <a href="https://es.linkedin.com/in/xxcoronaxx" title="Linkedin"><i class="fa fa-linkedin-square fa-2x"></i></a></p>
</div>