<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>
  <body>
    <div id="page-wrap">
      
      <header id="h1" class="main">
        <h1>Quiz el juego de las preguntas</h1>
      </header><!-- /header -->
      
      <nav class="main" id="n1">
        <span><a href="/">Inicio</a></span>
        <span><a href="/quizes/question">Preguntas</a></span>
      </nav>
      
      <section class="main" id="s1">
        <%- body %>
      </section>

      <footer class="main" id="f1">
        <a href="es.wikipedia.org/wiki/Quiz">¿Qué es Quiz?</a>
      </footer>
    
    </div>
  </body>
</html>