<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>
  <body>
    <h2>Quiz el juego de las preguntas</h2>
    	Resultado: 
    	<p class="respuesta"><%= respuesta %></p>
    	<a href="/quizes/question" title="Volver atras">Inténtelo otra vez! </a>
  </body>
</html>
