<h2>Login</h2>

<form method="post" action="/login">
	<label>Username: <input type="text" id="login" name="login" size="30" value="" placeholder="username"></label><br>
	<label>Password: <input type="password" id="password" name="password" size="30" value="" placeholder="password"></label><br>
	<input type="submit" name="commit" value="Login">
</form>